@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --custom-primary: #ffffff;
  --custom-secondary: #000000;
  --custom-tertiary: #f5f5f5;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary {
 @apply bg-primary text-white py-2 px-4 rounded hover:cursor-pointer focus:outline-1 focus:outline-green-800; 
}

.btn-secondary {
 @apply bg-secondary text-white py-2 px-4 rounded hover:cursor-pointer focus:outline-1 focus:outline-orange-800; 
}

.btn-gray {
 @apply bg-gray-300 text-gray-600 py-2 px-4 rounded hover:cursor-pointer focus:outline-1 focus:outline-gray-800; 
}

.input-primary {
 @apply w-full h-[42px] p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary
}

.input-error {
 @apply w-full h-[42px] p-2 border border-red-500 rounded-md focus:outline-none focus:ring-1 focus:ring-red-500 focus:border-red-500
}